<h1>Ana component</h1>

<app-first></app-first>

<hr>

<div *ngIf="isLoadingShow">
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>



<!-- <h2>interface ile</h2>
<p>userId: {{user?.userId}}</p>
<p>id: {{user?.id}}</p>
<p>title: {{user?.title}}</p>
<p>completed: {{user?.completed}}</p>
<hr>
<h2>class ile</h2>
<p>userId: {{user2?.userId}}</p>
<p>id: {{user2?.id}}</p>
<p>title: {{user2?.title}}</p>
<p>completed: {{user2?.completed}}</p> -->

<div class="alert alert-info" *ngFor="let post of postList">
    userId: {{post.userId}}
    id: {{post.id}}
    title: {{post.title}}
    body: {{post.body}}

</div>




<router-outlet></router-outlet>